<% if !connect.user.blank? %>
<%
def file_url(base, path)
  encoded_path = path.to_s.split("/").reject(&:empty?).map { |segment| ERB::Util.url_encode(segment) }.join("/")
  "#{base}/#{encoded_path}"
end

workflow_label = connect.respond_to?(:workflow) && connect.workflow == 'bindflow' ? 'BindFlow' : 'ProteinDJ'
default_base_out_dir = if connect.respond_to?(:workflow) && connect.workflow == 'bindflow'
  ENV["PROTEINDESIGN_BIND_OUT_DIR"] || "/srv/scratch/#{connect.user}/bindflow_output"
else
  ENV["PROTEINDESIGN_PDJ_OUT_DIR"] || "/srv/scratch/#{connect.user}/proteindj_output"
end
base_out_dir = (connect.respond_to?(:base_out_dir) && !connect.base_out_dir.blank?) ? connect.base_out_dir : default_base_out_dir
results_url_base = (connect.respond_to?(:results_url_base) && !connect.results_url_base.blank?) ? connect.results_url_base : (ENV["OOD_RESULTS_URL_BASE"] || "/pun/sys/dashboard/files/fs")
%>
<b>Workflow</b>: <%= workflow_label %><br>
<b>Results</b>: <a target="_blank" rel="noopener" href="<%= file_url(results_url_base, File.join(base_out_dir, connect.run_dir)) %>"><%= connect.run_dir %></a>
<% end %>
