<%
unless defined?(ood_site_env_loaded)
  env_path = [File.expand_path("template/.env", Dir.pwd), File.expand_path(".env", Dir.pwd)].find { |path| File.file?(path) }
  if env_path
    File.foreach(env_path) do |line|
      stripped = line.strip
      next if stripped.empty? || stripped.start_with?("#")
      key, raw_value = line.split("=", 2)
      next if raw_value.nil?
      value = raw_value.strip
      value = value[1..-2] if (value.start_with?('"') && value.end_with?('"')) || (value.start_with?("'") && value.end_with?("'"))
      value = value.gsub(/\$\{([A-Za-z_][A-Za-z0-9_]*)\}|\$([A-Za-z_][A-Za-z0-9_]*)/) { ENV[$1 || $2].to_s }
      key = key.strip
      ENV[key] = value if ENV[key].to_s.empty?
    end
  end
  ood_site_env_loaded = true
end
%>

<% if !connect.user.blank? %>
<%
def file_url(base, path)
  encoded_path = path.to_s.split("/").reject(&:empty?).map { |segment| ERB::Util.url_encode(segment) }.join("/")
  "#{base}/#{encoded_path}"
end

workflow_label = connect.respond_to?(:workflow) && connect.workflow == 'bindflow' ? 'BindFlow' : 'ProteinDJ'
default_base_out_dir = if connect.respond_to?(:workflow) && connect.workflow == 'bindflow'
  ENV.fetch("PROTEINDESIGN_BIND_OUT_DIR")
else
  ENV.fetch("PROTEINDESIGN_PDJ_OUT_DIR")
end
base_out_dir = (connect.respond_to?(:base_out_dir) && !connect.base_out_dir.blank?) ? connect.base_out_dir : default_base_out_dir
results_url_base = (connect.respond_to?(:results_url_base) && !connect.results_url_base.blank?) ? connect.results_url_base : ENV.fetch("OOD_RESULTS_URL_BASE")
%>
<b>Workflow</b>: <%= workflow_label %><br>
<b>Results</b>: <a target="_blank" rel="noopener" href="<%= file_url(results_url_base, File.join(base_out_dir, connect.run_dir)) %>"><%= connect.run_dir %></a>
<% end %>
