<% if !connect.user.blank? %>
<%
def file_url(base, path)
  encoded_path = path.to_s.split("/").reject(&:empty?).map { |segment| ERB::Util.url_encode(segment) }.join("/")
  "#{base}/#{encoded_path}"
end

base_out_dir = (connect.respond_to?(:base_out_dir) && !connect.base_out_dir.blank?) ? connect.base_out_dir : "/srv/scratch/#{connect.user}/protein_design_output"
results_url_base = (connect.respond_to?(:results_url_base) && !connect.results_url_base.blank?) ? connect.results_url_base : "/pun/sys/dashboard/files/fs"
workflow_label = connect.respond_to?(:workflow) && connect.workflow == 'bindflow' ? 'BindFlow' : 'ProteinDJ'
%>
<b>Workflow</b>: <%= workflow_label %><br>
<b>Results</b>: <a target="_blank" rel="noopener" href="https://kod.restech.unsw.edu.au<%= file_url(results_url_base, File.join(base_out_dir, connect.run_dir)) %>"><%= connect.run_dir %></a>
<% end %>
